.search-bar {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 600px; 
    margin: 0 auto;
    padding: 10px 30px;
    background-color: var(--color-fondo);
    border-radius: 5px;
  }
  
  .search-bar input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .search-bar button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: var(--color-primario);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #0056b3;
  }
  